p.solid {
    border-style:solid;
    text-align: center;
    border-width: 4px;
    border-radius: 4px;
    font-size: 50px;
    color:pink;
    border-color : white;

}

body {
    background-color: #333;
}
style {
    color :white;
}